body{
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background: #212121;
}
p{
    color:white;
    position: relative;
    top:-5px;
    font-weight: 700;
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#box{
    background-color: #212121;
    width: 150px;
    height: 150px;
    border: solid;
    border-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 10px 7px 15px black;
    text-align: left;
}
a{
    text-decoration: none;
}